- content_for :header do
  = stylesheet_link_tag 'twitter_card', media: 'all'
  = stylesheet_link_tag 'twitter_card_overwrites', media: 'all'

  = javascript_include_tag 'follow_users'

  %meta(name='fn-url-follow-user' content=follow_user_twitter_users_path)

  %style
    - @users.each do |user|
      = ".#{user['screen_name']}::after{ background: url(\'#{user['profile_image_url']}\')  no-repeat center center/cover }"

.row
  .col.s12
    %h5 Follow those who follow you.
    %p Find who you aren't following back.

  - if @users.present?
    .col.s12
      .right
        = form_tag(home_follow_users_path, method: 'post') do
          = hidden_field_tag 'users_ids', @users.map { |user| user['id'] }.join(',')

          %a(onclick='$(this).closest("form").submit();' href='#' class='waves-effect waves-light btn') Follow all

    .col.s12
      - @users.each do |user|
        = render partial: 'user_card', locals: { user: user, can_be_followed: true }

  - else
    %p No users found.
