- content_for :header do
  = stylesheet_link_tag 'twitter_card', media: 'all'
  = stylesheet_link_tag 'simplePagination'

  %meta(name='fn-user-relations-url' content=relations_twitter_user_path)
  %meta(name='fn-relation-type' content='friends')

  = javascript_include_tag 'cable'
  = javascript_include_tag 'channels/twitter_user_info'
  = javascript_include_tag 'twitter_users/show'

  = javascript_include_tag 'jquery.simplePagination'

  :css
    .twitter-card-container {
      margin-left: 3em;
      margin-top: 3em;
    }

  -# this tag is also needed for styling the user cards on the fly
  %style

%script#fn-user-template(type='text/template')
  .twitter-card-container
    .card-profile
      %div{ class: 'card-profile_visual <%= user["screen_name"] %>'.html_safe }
      .card-profile_user-infos
        %span.infos_name <%= user['name'] %>
        %span.infos_nick @<%= user['screen_name'] %>
        %a(href='#')
      .card-profile_user-stats
        .stats-holder
          .user-stats
            %strong Tweets
            %span <%= user['statuses_count'] %>
          .user-stats
            %strong Followings
            %span <%= user['friends_count'] %>
          .user-stats
            %strong Followers
            %span <%= user['followers_count'] %>

%div
  %form(action='#')
    %p
      %input#fn-friends.filled-in(checked='checked' type='checkbox')
      %label(for='fn-friends') Following
    %p
      %input#fn-followers.filled-in(type='checkbox')
      %label(for='fn-followers') Followers


%h2
  = "@#{params[:id]}'s"
  %span.fn-relation-type-text following

.fn-pagination-container

%div#fn-users-container.fn-empty
  -# Initial state (replaced by content when it's fetched)
  %p No users found
