!!!
%html
  %head
    %title Density labs | Twitter Bot
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    "materialize/materialize", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

    :css
      .menu-icon {
        height: 62px
      }

      nav ul a {
        color: black;
      }

  %body
    %nav.white
      .nav-wrapper
        %a.brand-logo.right(href="#{root_path}")
          = image_tag('densitylabs-logo.svg', class: 'menu-icon')

        %ul#nav-mobile.left.hide-on-med-and-down
          - if authenticated_user?
            %li
              = link_to 'Home', home_path
            %li
              = link_to 'Logout', home_logout_path
          - else
            %li
              = link_to 'Login', home_path

    .container
      %br
      = yield
